@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page will be updated with more content.</p>
</div>
<ul>
    <li>Remove all hardcoded user-specific values</li>
    <li>Read all data from SQL Database</li>
    <li>Implement Account operations(Account Management, Login/Logout, & Registration) through client instead of Keycloak Admin Console</li>
    <li>Remove redundant backend components</li>
    <li>Fix roles entry in Database</li>
</ul>

