@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page will be updated with more content.</p>
</div>
<ul>
    <li> &#9989 (partially done) Remove all hardcoded user-specific values</li>
    <li>&#9989 (partially done) Read all data from SQL Database</li>
    <li>Implement the following operations through custom pages instead of Keycloak pages
        <ul>
            <li>&#9989 Login</li>
            <li>&#9989 Logout</li>
            <li>&#9989 Registeration</li>
            <li>&#128073 Forgot / Change Password</li>
            <li>&#128073 Account Management</li>
        </ul>
    </li>
    <li> &#9989 Remove redundant backend components</li>
    <li>&#128073 Fix roles entry in Database</li>
</ul>

