@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The below points are to be implemented / fixed</p>
</div>
<ul>
    <li>Implement the following operations through custom pages instead of Keycloak pages
        <ul>
            <li>&#128073 Forgot / Change Password</li>
            <li>&#128073 Account Management</li> 
        </ul>
    </li>
    <li> &#128073 Design home page</li>
    <li> &#128073 Add marketplace page accessible to users</li>
    <li> &#128073 Test notifications for both users and admins</li>
    <li> &#128073 Fix roles entry in Database</li>
</ul>

